// Including Bootstrap into my scss file
@import "node_modules/bootstrap/scss/bootstrap";

// importing Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');


/* adding a custom media query to make the navigation responsive*/
@mixin for-medium-size {
    @media (min-width: 992px) and (max-width: 1073px)  { @content; }
}
@mixin for-big-size {
    @media (min-width: 1070px) and (max-width: 1200px)  { @content; }
}
$box-shadow: 0 0 15px rgba(0,0,0,.1);

.cyanBtn{
    background-color: #59CAAD!important;
    border-color: #59CAAD;
}
html{
    font-family: 'Roboto', sans-serif!important;
}
p{
    font-size: 1.15rem!important;
    @include media-breakpoint-down(sm){
        font-size: 1rem!important;
    }
} 
.pink{
    color: #EE6CA6;
}
.bg-pink{
    background-color: #EE6CA6;
}
body{
    color: #353E47;
    font-family: aktiv-grotesk, sans-serif!important;
    padding-top: 70px!important;
}
/* change nav bar*/ 
.navbar{
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    @include media-breakpoint-down(sm){
        text-align: center;
    }
}
.form-inline{
    @include media-breakpoint-down(sm){
        margin: auto;
        display: block;
    }
}
.nav-btn{
    @include media-breakpoint-down(sm){
        margin: auto;
        display: block;
        width: 220px;
    } 
}
.nav-link{
    @include media-breakpoint-only(lg){
        font-size: 1.2em!important;
    }
    @include for-medium-size{
        font-size: 1em!important;
    }
}

.nav-link:hover 
{
    text-decoration: underline!important;
    text-decoration-color: #FFDA66!important;
    text-decoration-style: wavy!important;
}
/* change footer */
#footer .container{
    @include media-breakpoint-down(sm){
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
}
.footerHeading{
    @include media-breakpoint-down(sm){
        font-size: 1.2rem; 
    }
    @include media-breakpoint-only(md){
        font-size: 1.2rem; 
    }
    @include for-medium-size(){
        font-size: 1.2rem;
    }
}
.footerLogo{
    width: 15vw;
    @include media-breakpoint-down(sm){
        width: 30vw;
    }
}
/* main sections */
.row{
    @include media-breakpoint-down(sm){
        display: block;
    }
}
.custom-font{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
}
.custom-font2{
    font-size: 24px!important; 
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.bold{
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.medium{
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
}
.noMargin{
    margin-left: 0px;
    margin-right: 0px;
}
.noBorder{
    border: none;
}
/* additional styling for all handwritten titles */
.titlesHand{
    width: 200px;
}
.titlesHandM{
    width: 250px;
}
.titlesHandL{
    width: 290px;
}
/* additional styling for the hero section */
.hero-heading{
    @include media-breakpoint-down(sm){
        font-size: 1.6em; 
    }
    @include media-breakpoint-only(md){
        font-size: 1.6em; 
    }
    @include for-medium-size(){
        font-size: 2em;
    }
    @include for-big-size{
        font-size: 2.2em;
    }
    font-size: 2.8em; 
    font-weight: 700;
    font-style: normal;
}
.hero-container{
    background-image: url("./images/photos/hero-men-yellow-lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    @include media-breakpoint-down(md){
        background-image: url("./images/photos/hero-men-yellow-sm.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 120vh;
    }
    @include media-breakpoint-down(sm){
        background-image: url("./images/photos/hero-men-yellow-xs.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.hero{
    background-color: transparent;
}
.heroTextCont{
    @include media-breakpoint-down(sm){
        margin-left: 0px!important;
    }
}
.spaceContainer{
    height: 300px;
    @include media-breakpoint-down(sm){
        height: 1350px;
    }
}
.spaceContainer2{
    height: 90px;
}
.biggerFont{
    font-size: 1.6em;
}
/* additional styling for the user card section on top of hero*/
.card-deck{
    margin-top: 4rem;
    margin-bottom: 50px;
    padding: 3rem;
    margin: 3rem;
    @include media-breakpoint-down(lg){ 
        padding: 1rem;
        margin: 1rem;
    }
    @include media-breakpoint-down(md){ 
        display: flex;
        flex-flow: wrap;
        padding: 1rem;
        margin: 1rem;
    }
    @include media-breakpoint-down(sm){
        display: block;
        margin: auto;
        margin-top: 100px;
    }
}
.cardHero{
    @include media-breakpoint-down(md){ 
        width: 40vw;
        margin: 30px;
        font-size: .8em;
    }
    @include media-breakpoint-down(sm){
        width: 400px;
        margin: auto!important;
        display: block;
        margin-bottom: 30px!important;
    }
    @include media-breakpoint-down(xs){
        width: 300px;
        margin-bottom: 30px!important;
    }
}
.card-body{
    padding: 3rem;
    @include media-breakpoint-down(md){ 
        padding: 1rem;
    }
    @include media-breakpoint-down(sm){
        padding: 1.5rem;
    }
}
.cardImg{
    width: 6vw;
    @include media-breakpoint-down(md){ 
        width: 6vw;
        padding-top: 2rem;
    }
    @include media-breakpoint-down(sm){
        width: 7vw;
        display: block;
        margin: auto!important;
    }
    @include media-breakpoint-down(xs){        
        width: 18vw;
    }
}
.cardImg2{
    width: 12vw;
    @include media-breakpoint-down(md){ 
        width: 12vw;
    }
    @include media-breakpoint-down(sm){
        display: block;
        margin: auto!important;
    }
    @include media-breakpoint-down(xs){
        width: 30vw;
    }

}
/* additional styling for the first section on index */
#about{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 500px;
    @include media-breakpoint-down(sm){
        margin-top: 900px;
    }
}
#join{
    margin-left: 0px;
    margin-right: 0px;
}
.pinkBtn{
    border-color: #EE6CA6;
    color: #EE6CA6;
}
.pinkBtn:hover{
    background-color: #EE6CA6;
    border-color: #EE6CA6;
}
.pinkBtnFull{
    background-color: #EE6CA6;
    border-color: #EE6CA6; 
}
.pinkBtnFull:hover{
    background-color: #EE6CA6;
    filter: brightness(85%);
}
.categTag{
    cursor: auto;
}
.categTag:hover{
    background-color: transparent;
    color: grey;
}
/* additional styling for the review section */
.blockquote{
    font-size: 1.15rem!important;
}
/* additional styling for the pricing section on how.html */

.card1{
    max-height: 450px;
    box-shadow: $box-shadow;
    transition: all .3s ease-in;
}
.card2{
    border: 4px solid #EE6CA6!important;
    min-height: 500px;
    transition: all .3s ease-in;
}
.card3{
    max-height: 450px;
    transition: all .3s ease-in;
    box-shadow: $box-shadow;
}
.card1:hover, .card2:hover, .card3:hover{
    cursor: pointer;
    transform: scale(1.03); 
}

/* additional styling for the FAQ section */
#customCard{
    border: none;
    @include media-breakpoint-down(md){ 
        width: 60vw;
        margin: 30px;
    }
    @include media-breakpoint-down(sm){
        width: 60vw;
        margin: auto!important;
        display: block;
    }
    @include media-breakpoint-down(xs){
        width: 60vw;
    }
}
#accordion{
    margin: auto;
    margin-bottom: 3rem;
    width: 60vw;
    @include media-breakpoint-down(sm){
        margin-right: 3rem;
    }
    @include media-breakpoint-down(xs){
        width: 90vw;
    }
}
.card-header{
    border-bottom: 2px solid #59caad;
}

/* aditional styling for the forms*/

.special-form-control{
    border-bottom: 1px solid #43425D;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    height: 30px;
}
.custom-label{
    margin-bottom: 0px;
}
.joinImg{
    background-image: url("./images/photos/organizers-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.customerJoinImg{
    background-image: url("./images/photos/seniors-cooking.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.joinCustTitle{
    @include media-breakpoint-down(sm){
        margin-top: 3rem;
    }
    @include media-breakpoint-down(xs){
        margin-top: 3rem;
    }
}
/* additional styling for the search results page*/

.cardShadow{
    box-shadow: 0 0 15px rgba(0,0,0,.1)

}
/* additional styling for the companies page*/

.hero2-container{
    background-image: url("./images/photos/group-organizer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.yellow{
    color: #FFDA66!important;
}

/* image hover effect from this source: https://miketricking.github.io/bootstrap-image-hover/ */
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    }
    
    .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    }
    
    .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    }
    
    .hovereffect h2 {
    color: #353E47;
    text-align: center;
    font-weight: bold;
    position: relative;
    font-size: 17px;
    background: rgba(255, 218, 102, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    padding: 10px;
    }
    
    .hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    color: #FFDA66;
    font-weight: bold;
    border: 2px solid #FFDA66;
    border-radius: 3px;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin: 50px 0 0;
    padding: 7px 14px;
    }
    
    .hovereffect a.info:hover {
    /*  box-shadow: 0 0 5px #fff; */
    background-color: #FFDA66;
    color: #353E47;

    }
    
    .hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    }
    
    .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    }
    
    .hovereffect:hover h2,.hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
    }
    
    .hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    }

    /* adding a back to top button from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

    #topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #FFDA66;
    color: #353E47;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    font-weight: bold;
    }
    
    #topBtn:hover {
    background-color: #EE6CA6;
    }